<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>334018456884-2mkgula1n4bgo0lg9i4vgv42pfjbm409.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.334018456884-2mkgula1n4bgo0lg9i4vgv42pfjbm409</string>
	<key>API_KEY</key>
	<string>AIzaSyDe6vD7F3M-wQQGaT08XKCg0BbEmhrhg-s</string>
	<key>GCM_SENDER_ID</key>
	<string>334018456884</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cloud.NotSoySure</string>
	<key>PROJECT_ID</key>
	<string>veganapp-hackrice</string>
	<key>STORAGE_BUCKET</key>
	<string>veganapp-hackrice.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:334018456884:ios:765ba0957044a10f</string>
	<key>DATABASE_URL</key>
	<string>https://veganapp-hackrice.firebaseio.com</string>
</dict>
</plist>